$red-color:#E52B0E;
$blue-color:#186FD4;
$white-color:#ffffff;
$text-color:#1F1E31;
$text2-color:#2C333D;
$org-color:#FF6915;
$yellow-color:#11A342;
$btn-red-color:#F81D2A;
$grey-color:#91969D;
$border-color:#EDF0F2;
$blue-hover-color:#1a56ff;
$price-color:#003B73;